fastapi>=0.111.0
pydantic>=2.0
pydantic-settings>=2.0
uvicorn
python-dotenv
watchfiles
SQLAlchemy>=2.0
asyncpg
alembic
google-auth
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
pydantic[email]
email-validator
passlib[bcrypt]

